{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<div class="formp1">

    <h4>{% trans 'Change password' %}</h4>

    <form method="post">
        {% csrf_token %}
        <!--{% bootstrap_form form %}-->
        <div class="form-group">
        	
        	{% bootstrap_label "Old password" label_for="id_old_password" %}
        	{% bootstrap_field form.old_password show_label=False %}
        </div>
        <div class="form-group">
        	
        	{% bootstrap_label "New password" label_for="id_new_password1" %}
        	{% bootstrap_field form.new_password1 show_label=False show_help=None %}
        </div>
        <div class="form-group">
        	{% bootstrap_label "Confirm new password" label_for="id_new_password2" %}
        	{% bootstrap_field form.new_password2 show_label=False placeholder="Confirm new password"  %}
        	<small class="form-text text-muted">
    			<ul>
    				<li>Your password can't be too similar to your other personal information.</li>
    				<li>Your password must contain at least 8 characters.</li>
    				<li>Your password can't be a commonly used password.</li>
    				<li>Your password can't be entirely numeric.</li>
    			</ul>
    		</small>
        </div>

        <button class="btn-login">{% trans 'Change' %}</button>

    </form>
	
</div>

{% endblock %}
